.login{
  &__top{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    h2{
      color: #F7D22D;
      font-size: 42px;
      font-weight: 800;
      line-height: 17px;
    }
  }
  &__center{
    display: flex;
  }
  &__text{
    margin-top: 14px;
    p{
      margin-top: 40px;
      color: #686466;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      opacity: 0.82;
    }
  }
  &__input{
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    input{
      padding-left: 10px;
      margin-top: 25px;
      width: 255px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 8px;
      border: 1.5px solid #E2E2E9;
    }
  }
  &__vhod{
    display: flex;
    padding-top: 25px;
    align-items: center;
    column-gap: 15px;
    button{
      padding: 15px 25px;
      border: none;
      border-radius: 8px;
      background: #F7D22D;
      color: #FFF;
      font-size: 15px;
      font-weight: 800;
      line-height: 28px;
    }
    p{
      color: #9D9D9B;
      font-size: 20px;
      font-weight: 600;
      line-height: 19px; /* 146.154% */
    }
  }
}